#block {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0,0,0,0.3);
    background-image: url('../img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
}

ul li {
    list-style: none;
}

ul li form {
    /*border: 1px dashed black;*/
}

.petitionName {
    font-size: 20px;
    font-weight: bold;
}

table.vote tr td {
    width: 50px;
    text-align: center;
}

table.vote tr td input[type="radio"] {
    margin: -2px 0 0;
}

table.vote tr td:first-child {
    width: 250px;
}

table.settings input {
    width: 500px;
}